.search-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.search-bar input,
.search-bar select {
  padding: 15px;
  width: 280px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}